/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Design for the welcome page */

.welcome{
  font-family: 'Courier New', Courier, monospace;
  color: black;  
  text-align: center;
  position: relative;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}


.ready-section{
  text-align: center;
}

.ready-butt{
  text-align: center;
}

h1.summoner-name{
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #fff;
  background-color: #279;
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  padding-right: 40px;
  display: flex;
  text-align: center;
}

/* Design for the quiz page */ 
button{
  font-family: 'Courier New', Courier, monospace;
	font-size: 22px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
  margin-bottom: 150px;
  text-align: center;
  width: 250px;
}

button:hover{
  background-color: #38a;
}

.equiz{
  font-family: 'Courier New', Courier, monospace;
  color: black;  
  text-align: center;
  position: relative;
  height: 200px;
  margin: auto;
  width: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.correct-answer{
  margin-top: 40px;
  text-align: center;
}

/* Design for the thankyou page */
.end-game{
  font-family: 'Courier New', Courier, monospace;
  color: black;  
  text-align: center;
  position: relative;
  height: 200px;
  margin: auto;
  width: 50%;
  text-align: center;
}



